/*features section styling*/

.features-section {
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: center;
}

.features-section h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #f1a21d;
}

.features-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    max-width: 300px;
    flex: 1;
    text-align: center;
    transition: transform 0.2s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card img{
    height: 80px;
    margin-bottom: 1rem;
}

.feature-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #1F1E23;
}

.feature-card p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .features-grid{
        flex-direction: column;
        align-items: center;
    }
}